.main-header {
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background-color 0.2s ease-out;

    &--active {
        background-color: $blue;
        pointer-events: all;

        .navbar {
            display: flex;
            pointer-events: all;
        }
    }
}

.help-section, .find-items, .donations-section, .blood-donation-section {
    padding: 5rem 4rem;

    h1 {
        margin-bottom: 4rem;
    }

    h2 {
        font-size: 2rem;
        margin: 2rem auto;
    }
}

.request-confirmation-section {
    min-height: 100vh;
    cursor: pointer;
}