.create-request-section {
    padding: 3rem 2rem;

    h1 {
        font-size: 2rem;
    }
}

.create-request-back {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    background: none;
    border: none;
    cursor: pointer;
}