.btn {
    display: block;
    width: 100%;
    max-width: 212px;
    height: 46px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin: 1rem auto;
    cursor: pointer;

    &--blue {
        background: $blue;
        color: $white;

        &:hover{
            background-color:darken($color: $blue, $amount: 10%);
        }
    
    }

    &--white {
        background: $white;
        color: $blueDark;
    }

    &--outline {
        background: none;
        color: $blueDark;
        border: 2px solid $blueDark;
    }

    &--outlineWhite {
        background: none;
        color: $white;
        border: 2px solid $white;
    } 

    
} 

