*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1, h2, h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
}

*, label, button, select {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
}

.category {
  margin-bottom: 0;
  cursor: pointer;
}

.category__expand {
  opacity: 0;
}

.category__expand:checked ~ .category__content {
  max-height: var(--height);
}

.category__expand:checked + .category__arrow {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
}

.category__content {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.category__container {
  position: relative;
}

.category__arrow {
  position: absolute;
  top: 1.6rem;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.btn {
  display: block;
  width: 100%;
  max-width: 250px;
  height: 46px;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  margin: 2rem auto;
  cursor: pointer;
}

.btn--blue {
  background: #0078C9;
  color: #FFFFFF;
}

.btn--blue:hover {
  background-color: #005a96;
}

.btn--white {
  background: #FFFFFF;
  color: #0D1B63;
}

.btn--outline {
  background: none;
  color: #0D1B63;
  border: 3px solid #0D1B63;
}

.btn--outlineWhite {
  background: none;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
}

.textfield {
  position: relative;
  width: 100%;
  margin: 2rem auto;
  cursor: pointer;
}

.textfield optgroup {
  color: #091244;
}

.textfield__label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}

.textfield__input {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  color: #FFFFFF;
  border: 1px #FFFFFF solid;
  border-radius: 10px;
}

.textfield__input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.7;
}

.textfield__input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.7;
}

.textfield__input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.7;
}

.textfield__input::placeholder {
  color: #FFFFFF;
  opacity: 0.7;
}

.textfield__input option {
  color: #0D1B63;
  cursor: pointer;
}

.textfield__input--icon {
  padding-left: 4rem;
}

.textfield__arrow {
  position: absolute;
  right: 0;
  bottom: 2rem;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.textfield__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 1rem auto;
}

.checkbox__label {
  margin: 10px;
}

.checkbox__input {
  width: 2rem;
  height: 2rem;
  border: 2px #FFFFFF solid;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.checkbox__input:checked {
  background-color: #FFFFFF;
}

.checkbox--underline {
  border-bottom: 1px #FFFFFF solid;
}

.burgermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.burgermenu__logo {
  display: none;
  width: 35%;
  padding: 1.594rem;
}

.burgermenu__btn {
  border: 0px;
  border-color: transparent;
  right: 0;
  padding: 25px;
  position: absolute;
  display: none;
  background-color: transparent;
  cursor: pointer;
  pointer-events: all;
}

.burgermenu__btn span {
  background-color: #FFFFFF;
  display: block;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  right: 0;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burgermenu__btn span:nth-child(1),
.burgermenu__btn span:nth-child(3) {
  -webkit-transition: -webkit-transform .35s ease-in-out;
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.burgermenu__btn--clicked span:nth-child(1),
.burgermenu__btn--clicked span:nth-child(3) {
  position: absolute;
  right: 25px;
  top: 25px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  opacity: 0.9;
}

.burgermenu__btn--clicked span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.burgermenu__btn--clicked span:nth-child(3) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.burgermenu__btn--collapsed span:nth-child(1),
.burgermenu__btn--collapsed span:nth-child(3) {
  -webkit-transition: -webkit-transform .35s ease-in;
  transition: -webkit-transform .35s ease-in;
  transition: transform .35s ease-in;
  transition: transform .35s ease-in, -webkit-transform .35s ease-in;
  position: absolute;
  right: 25px;
  top: 25px;
}

@media screen and (max-width: 900px) {
  .burgermenu__logo {
    display: none;
  }
  .burgermenu__btn {
    display: block;
  }
}

.navbar {
  width: 100%;
  height: 20%;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  padding: 0 10%;
  z-index: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.navbar__a {
  height: 30%;
  width: 100%;
  text-decoration: none;
  padding-left: 3rem;
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
}

.navbar__a:hover {
  color: #fec021;
}

@media screen and (max-width: 900px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 7rem;
    display: none;
    pointer-events: none;
  }
  .navbar a {
    text-align: left;
  }
}

.card {
  position: relative;
  padding: 2rem;
  margin: 0 auto;
  background-color: #0078C9;
  max-width: 50rem;
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
  border-radius: 10px;
}

.card + .card {
  margin-top: 2rem;
}

.card__title {
  font-size: 1.6rem;
  margin-bottom: 5px;
  font-weight: 700;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.card__time {
  padding: 5px;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.4rem;
  font-weight: 600;
  color: #091244;
  background-color: #FFFFFF;
  border: 1px #e6e6e6 solid;
}

.card__time--bgOut {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
}

.card__textCenter {
  text-align: center;
  font-size: 1.4rem;
}

.card__list {
  margin-left: 3rem;
}

.card__listItem {
  list-style: disc;
  margin: 10px 0;
  line-height: 2rem;
}

.card--white {
  color: #091244;
  background-color: #FFFFFF;
}

.card--white b {
  font-weight: 700;
  color: #0078C9;
}

.card--dark {
  background-color: #0D1B63;
}

.card--alert {
  position: absolute;
  width: calc(100% - 4rem);
  bottom: 2rem;
  color: #FFFFFF;
  cursor: pointer;
}

@media (min-width: 600px) {
  .card--alert {
    width: 100%;
    bottom: 5rem;
  }
}

.myRequests {
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
  padding: 3rem 2rem;
}

.myRequests__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myRequests__tittle {
  font-size: 2rem;
}

.myRequests__text {
  font-size: 1.4rem;
  margin-right: 10px;
  width: 84px;
  text-align: right;
}

.myRequests__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.myRequests__btn {
  background-color: #0078C9;
  color: #FFFFFF;
  border-style: none;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
}

.login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.login h1 {
  text-align: center;
  width: 100%;
  min-width: 218px;
  max-width: 349px;
  margin: 2rem auto;
}

.login form {
  width: 100%;
  max-width: 300px;
  position: relative;
}

.login form .btn {
  margin-top: 35px;
}

.splashpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  width: 100%;
  height: 70vh;
  margin-top: 150px;
}

.splashpage__btnContainer {
  margin-top: 50px;
  width: 100%;
}

.create-request-section {
  padding: 3rem 4rem;
}

.create-request-section h1 {
  font-size: 2rem;
}

.create-request-back {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.main-header--active {
  background-color: #0078C9;
  pointer-events: all;
}

.main-header--active .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: all;
}

.help-section, .find-items, .donations-section, .blood-donation-section {
  padding: 5rem 4rem;
}

.help-section h1, .find-items h1, .donations-section h1, .blood-donation-section h1 {
  margin-bottom: 4rem;
}

.help-section h2, .find-items h2, .donations-section h2, .blood-donation-section h2 {
  font-size: 2rem;
  margin: 2rem auto;
}

.request-confirmation-section {
  min-height: 100vh;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  display: flow-root;
  background-color: #091244;
  color: #FFFFFF;
  min-height: 100vh;
  height: 100%;
}

.flex-center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center h1 {
  text-align: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.underline {
  text-decoration: underline;
}

main {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  main {
    max-width: 650px;
  }
}

.logo {
  max-width: 200px;
}

.hidden {
  display: none;
}

@media (max-width: 900px) {
  .main-header {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 70%;
    pointer-events: none;
  }
}

@media (min-width: 900px) {
  .main-header {
    position: static;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .navbar p {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */