@import './utils/colors';
@import './utils/reset';
@import './utils/typography';
@import './utils/breakpoints';
@import './components/category';
@import './components/btns';
@import './components/texfield';
@import './components/checkbox';
@import './components/burgermenu';
@import './components/navbar';
@import './components/card';


html {
    font-size: 62.5%
}

body {
    display: flow-root;
    background-color: $bg;
    color: $white;
    min-height: 100vh;
}

.splashpage {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

}

.splashpage__btnContainer {
    margin-top: 50px;
    width: 100%;
}

.main-header {
    position: fixed;
    z-index: 10;

    &--active {
        background-color: $blue;

        .navbar {
            display: flex;
        }
    }
}

.help-section, .find-items {
    padding: 5rem 2rem;

    h2 {
        font-size: 2rem;
        margin: 2rem auto;
    }
}

.create-request-section {
    padding: 3rem 2rem;

    h1 {
        font-size: 2rem;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }
}

main {
    width: 100%;
    margin: 0 auto;

    @media (min-width: $small) {
        max-width: 650px;
        margin: 10rem auto 5rem auto;
    }
}

.hidden {
    display: none;
}

@media (max-width: $small) {
    .main-header {
        position: fixed;
        right: 0;
        height:100vh;
        width:70%;
    } 
}