@import './utils/colors';
@import './utils/reset';
@import './utils/typography';
@import './utils/breakpoints';
@import './components/category';
@import './components/btns';
@import './components/texfield';
@import './components/checkbox';


html {
    font-size: 62.5%
}

body {
    padding: 2rem;
    background-color: $bg;
    color: $white;
    min-height: 100vh;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    margin: 0 auto;

    @media (min-width: $small) {
        max-width: 650px;
        margin: 10rem auto 5rem auto;
    }
}