.btn {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 46px;
    font-size: 1.4rem;

    border-radius: 10px;
    border: none;
    margin: 2rem auto;
    cursor: pointer;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
 


    color: $white;
    background-color: darken($blue, $amount: 20%);



    &--blue {
        color: $white;
        background-color: darken($blue, $amount: 15%);
    
        
        &:hover {
            background-color: lighten($blue, $amount: 20%);
            box-shadow: lighten($blue, $amount: 20%) 0px 0px 15px -5px;
        }

    }

    &--red {

        color: $white;
        background-color: darken($red, $amount: 20%);

        &:hover {
            background-color: lighten($red, $amount: 20%);
            box-shadow: lighten($red, $amount: 20%) 0px 0px 20px -5px;
        }

    }

    &--white {
        color: $blueDark;
        background-color: darken($white, $amount: 25%);

        &:hover {
            background-color: $white;
            box-shadow: white 0px 0px 15px -5px;
        }
    }


    &--outline {
        background-color: none;
        color: $white;
        border: 3px solid $white;
    }




}