.myRequests{
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: $mulish;
    padding: 3rem 2rem;

    &__header{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        justify-content: space-between;
        align-items: center;
    }

    &__tittle{
        font-size: 2rem;
    }

    &__text{
        font-size: 1.4rem;
        margin-right: 10px;
        width: 84px;
        text-align: right;
    }

    &__btnContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    &__btn{
        border-style: none;
        border-radius: 10px;
        width: 35px;
        height: 35px;
        text-align: center;
        cursor: pointer;

        &:hover{
            background-color:darken($color: $blue, $amount: 10%);
        }
    }

    .btn{
        margin-top: 50px;
    }

}