.form{
    max-width: 60rem;
    background-color: transparent;
    border: 1px solid white;
    &-group{
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p{
            width:20%;
            text-align: right;
            padding-right: 10px;
        }
        
        input{
            width:80%;
            
            border: 1px solid white;

        }

        &-v2{
            flex-direction: column;
            width: 100%;
            > p{
                width: 100%;
                margin-top: 10px;
                margin-bottom: 15px;
                text-align: center;
                font-family: $quicksand;
                font-weight: bold;
            }
            > div{
                width:100%;
                >div{
                    display: flex;
                    flex-direction:row;
                    margin-bottom: 15px;
                }
                &:first-child{
                    width:100px;
                }
                p{
                    width: 100%;
                    text-align:start;
                }
                input{
                    -webkit-appearance: checkbox;
                    height: 17px;
                    width: 10%;
                }
            }

            
        }
    }
}