.navbar {

    display: flex;
    flex-direction: row;
    max-width: 1500px;
    min-width: 700px;
    width: 70%;

    font-family: $quicksand;
    font-size: 1.5rem;
    padding: 0;


    justify-content: space-around;





    &__a {



        width: auto;
        font-size: 2rem;
        color: $white;
        cursor: pointer;

        &:hover {
            color: rgb(125, 217, 253);
        }


    }

    .__chosen {
        color: rgba(254, 192, 33, 1);
    }
}

@media screen and(max-width: $medium) {
    .navbar {
        display: flex;
        flex-direction: column;
        height: 20%;
        margin-top: 7rem;
        display: none;
        pointer-events: none;
        padding: 0 3rem;

        a {
            text-align: left;
        }
    }
}